//used bulma css for sass support
@import './theme/mybulmatheme';
.App {
  text-align: center;
  background-color: #f9f9f9;
}
//Three sets of media queries to make the website responsible
@media screen and (min-width: 1025px) {
  .landingGraphic {
    position: relative;
    .imageText {
      position: absolute;
      left: 54%;
      top: 69%;
      color: white;
      width: 35vw;
      .mainText {
        text-align: left;
        font-weight: bold;
        font-size: 0.9vw;
      }
      .textTable {
        display: table;
      }
      .firstColumns {
        font-weight: bold;
        font-size: 1.6vw;
        text-align: left;
        margin-top: 0.7vw;
        display: table-row;
        .firstColumn {
          display: table-cell;
        }
        .firstColumn:not(:first-child) {
          padding-left: 2.2vw;
        }
        .firstColumn:nth-last-child(-n + 2) {
          text-align: center;
        }
      }
      .secondColumns {
        text-align: left;
        font-size: 1vw;
        display: table-row;
        .secondColumn {
          display: table-cell;
        }
        .secondColumn:not(:first-child) {
          padding-left: 2vw;
        }
      }
    }
    .formDiv {
      top: 50%;
      left: 34%;
      transform: translate(-50%, -50%);
      position: absolute;
      float: left;
      width: 35%;
      height: 90%;
      border-radius: 0.5rem;
      background-color: white;
      .formHeading {
        font-size: 1.5vw;
        font-weight: bold;
        margin-top: 0.5vw;
      }
      .formSubHeading {
        font-size: 1vw;
        margin-top: 1vw;
      }
      .resultFormHeading {
        font-size: 1.5vw;
        font-weight: bold;
        margin-top: 0.5vw;
      }
      .resultFormSubHeading {
        font-size: 1vw;
        margin-top: 1vw;
      }
      .formElements {
        display: table;
        margin: auto;
        width: 70%;
        margin-left: 2vw;
      }
      .field {
        display: table-row;
      }
      .label {
        display: table-cell;
        font-weight: normal;
        font-size: 1vw;
        margin-top: 1vw;
        text-align: right;
      }
      .input {
        margin-left: 1vw;
        display: table-cell;
        height: 2.2vw;
        margin-top: 1.3vw;
      }

      .button {
        background-color: #10a4f4;
        color: white;
        font-size: 1.2vw;
        font-weight: bold;
        margin: 1vw;
        border-radius: 0.3rem;
        width: 50%;
      }
      .line {
        border-bottom: 1px solid;
        border-color: #aabbcc;
        width: 80%;
        height: 10%;
        margin: 0.5rem auto;
      }
      .resultTable {
        display: table;
        margin: auto;
        border-collapse: separate;
        border-spacing: 1rem 1rem;
      }
      .resultRow {
        display: table-row;
        width: 50%;
      }
      .attribute {
        text-align: right;
        display: table-cell;
        font-weight: normal;
        font-size: 1.1vw;
        width: 50%;
        margin-top: 1.3vw;
      }
      .result {
        display: table-cell;
        width: 50%;
        text-align: Left;
        font-weight: bold;
        margin-left: 1.1vw;
        height: 2.3vw;
        margin-top: 1.1vw;
      }
    }
  }

  .featuresDiv {
    width: 100%;
    background-color: white;
  }
  .features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 1.5rem;
    .featuresHeading {
      font-size: 1.2vw;
      font-weight: bold;
      color: #445566;
      padding-top: 0.7vw;
    }
    img {
      padding-top: 2.2vw;
    }
    p {
      font-size: 1.2vw;
      text-align: center;
      padding-top: 0.5vw;
    }
  }

  .whySnubesContainer {
    position: relative;
    text-align: left;
    margin-top: 1.3vw;
    .textContainer {
      width: 45%;
      position: absolute;
      left: 30%;
      top: 2.5rem;
      right: 30%;
    }
    .divHeading {
      font-size: 1.5vw;
      font-weight: bold;
    }
    .subHeading {
      font-size: 1.2vw;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    .paragraph {
      font-size: 1vw;
    }
  }
  .navbar-brand {
    margin-left: 15%;
  }
  .navbar-menu {
    margin-right: 15%;
  }

  .testimonials {
    position: relative;
    width: 100vw;
    background-color: white;
    .talixoLogo {
      width: 6rem;
      height: auto;
      margin-bottom: 2.2vw;
      margin-top: 2.2vw;
    }
    .testimonialPara {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.7vw;
      width: 37vw;
    }
    .carouselDots {
      margin-top: 1.7vw;
      margin-bottom: 2vw;
      width: 4.5vw;
      height: auto;
    }
    .clients img {
      margin-bottom: 2vw;
      width: 6vw;
      height: auto;
    }
  }

  .footerMain {
    margin-top: 1.4vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    .footerColumns {
      margin: 1.2vw auto;
      text-align: left;
      width: 60%;
    }
    .column {
      color: white;
      font-size: 0.9vw;
      padding: 0.7vw;
    }
    a {
      color: white;
    }
    .award {
      height: 5vw;
      margin-left: 15%;
    }
  }

  .copyright {
    height: 3vw;
    p {
      font-size: 0.9vw;
      position: relative;
      top: 20%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .imageText {
    position: absolute;
    color: white;
    margin-top: 7vw;
    margin-left: 17vw;
    .mainText {
      text-align: center;
      font-weight: bold;
      font-size: 2.1vw;
    }
    .textTable {
      display: table;
    }
    .firstColumns {
      font-weight: bold;
      font-size: 3.8vw;
      text-align: left;
      margin-top: 0.7vw;
      display: table-row;
      .firstColumn {
        display: table-cell;
      }
      .firstColumn:not(:first-child) {
        padding-left: 3vw;
      }
      .firstColumn:nth-last-child(-n + 2) {
        text-align: center;
      }
    }
    .secondColumns {
      text-align: left;
      font-size: 2.2vw;
      display: table-row;
      .secondColumn {
        display: table-cell;
      }
      .secondColumn:not(:first-child) {
        padding-left: 3vw;
      }
    }
  }
  .formDiv {
    position: relative;
    top: 0;
    left: 0;
    float: none;
    width: 100%;
    background-color: white;
  }
  .formHeading {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 0.8vw;
  }
  .formSubHeading {
    font-size: 1.8vw;
  }
  .resultFormHeading {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 0.8vw;
  }
  .resultFormSubHeading {
    font-size: 1.8vw;
  }
  .formElements {
    display: table;
    margin: auto;
  }
  .field {
    display: table-row;
  }
  .label {
    display: table-cell;
    font-weight: normal;
    font-size: 1.7vw;
    margin-top: 1.5vw;
    margin-left: 2.3vw;
    text-align: right;
    width: 20%;
  }
  .input {
    margin-left: 1.5vw;
    display: table-cell;
    height: 3.5vw;
    width: 40vw;
    margin-top: 1.9vw;
  }

  .button {
    background-color: #10a4f4;
    color: white;
    font-weight: bold;
    margin: 1.5vw;
    font-size: 2vw;
    border-radius: 0.9vw;
    width: 20%;
  }
  .line {
    border-bottom: 1px solid;
    border-color: #aabbcc;
    width: 60%;
    height: 10%;
    margin: 2.5vw auto;
  }
  .resultTable {
    display: table;
    margin: auto;
    border-collapse: separate;
    border-spacing: 2.5vw 2.5vw;
  }
  .resultRow {
    display: table-row;
    width: 50%;
  }
  .attribute {
    text-align: right;
    display: table-cell;
    font-weight: normal;
    font-size: 1.7vw;
    width: 50%;
    margin-top: 1.5vw;
  }
  .result {
    display: table-cell;
    width: 50%;
    text-align: Left;
    font-weight: bold;
    margin-left: 1.5vw;
    font-size: 1.7vw;
    height: 2.7vw;
    margin-top: 1.5vw;
  }
  .whySnubesContainer {
    position: relative;
    text-align: left;
    margin-top: 1.8vw;
    .textContainer {
      width: 55%;
      position: absolute;
      left: 8%;
      top: 2.9vw;
      right: 30%;
    }
    .divHeading {
      font-size: 2.7vw;
      font-weight: bold;
    }
    .subHeading {
      font-size: 2.5vw;
      font-weight: bold;
      margin-top: 3.7vw;
      margin-bottom: 2.5vw;
    }
    .paragraph {
      font-size: 1.9vw;
    }
  }
  .featuresDiv {
    width: 100%;
    background-color: white;
  }
  .features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 1.7vw;
    .featuresHeading {
      font-size: 2vw;
      font-weight: bold;
      color: #445566;
      padding-top: 0.9vw;
    }
    img {
      padding-top: 2.5vw;
    }
    p {
      font-size: 1.8vw;
      text-align: center;
      padding-top: 0.8vw;
    }
  }
  .testimonials {
    position: relative;
    width: 100vw;
    background-color: white;
    .talixoLogo {
      width: 9vw;
      height: auto;
      margin-bottom: 3vw;
      margin-top: 3vw;
    }
    .testimonialPara {
      font-size: 1.8vw;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3vw;
      width: 70vw;
    }
    .carouselDots {
      margin-top: 1.9vw;
      margin-bottom: 2.5vw;
      width: 4r.6vw;
      height: auto;
    }
    .clients img {
      margin-bottom: 2.9vw;
      width: 8vw;
      height: auto;
    }
  }

  .footerMain {
    margin-top: 1.7vw;
    padding-top: 1.7vw;
    padding-bottom: 1.7vw;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    .footerColumns {
      margin: 1.5vw auto;
      text-align: left;
      width: 60%;
    }
    .column {
      color: white;
      font-size: 1.5vw;
      padding: 0.8vw;
    }
    a {
      color: white;
    }
    .award {
      height: 8vw;
      margin-left: 15%;
    }
  }

  .copyright {
    height: 3.5vw;
    p {
      font-size: 1.5vw;
      position: relative;
      top: 20%;
    }
  }
}

@media screen and (max-width: 520px) {
  .landingImage {
    display: none;
  }
  .imageText {
    position: relative;
    display: block;
    color: white;
    margin-top: 0;
    margin-left: 0;
    background-image: url(./assets/landingImage.jpg);
    height: 35vmax;
    background-size: cover;
    background-position: center;
    .mainText {
      text-align: center;
      font-weight: bold;
      font-size: 5vw;
    }
    .textTable {
      display: table;
      margin: 6.5vw auto;
    }
    .firstColumns {
      font-weight: bold;
      font-size: 5vw;
      text-align: left;
      margin-top: 2vw;
      display: table-row;
      .firstColumn {
        display: table-cell;
      }
      .firstColumn:not(:first-child) {
        padding-left: 3vw;
      }
      .firstColumn:nth-last-child(-n + 2) {
        text-align: center;
      }
    }
    .secondColumns {
      text-align: left;
      font-size: 3.5vw;
      display: table-row;
      .secondColumn {
        display: table-cell;
      }
      .secondColumn:not(:first-child) {
        padding-left: 3vw;
      }
    }
  }
  .formDiv {
    width: 100%;
    background-color: white;
    position: relative;
    height: 65vmax;
  }
  .formHeading {
    font-size: 6vw;
    text-align: left;
    font-weight: bold;
    margin-top: 0.8vw;
    margin-bottom: 2.8vw;
  }
  .formSubHeading {
    display: none;
  }
  .resultFormHeading {
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
    margin-top: 0.8vw;
    margin-bottom: 2.8vw;
  }
  .resultFormSubHeading {
    font-size: 3.5vw;
    text-align: center;
    padding: 4vw 4vw 0 4vw;
    margin-top: 1.3vw;
  }
  .field {
    display: block;
  }
  .label {
    font-weight: normal;
    font-size: 4.5vw;
    padding-left: 1.2vw;
    text-align: left;
    width: 20%;
  }
  .input {
    height: 6.7vw;
    width: 80vw;
  }

  .button {
    background-color: #10a4f4;
    color: white;
    font-weight: bold;
    margin: 4vw;
    font-size: 4.3vw;
    border-radius: 0.9vw;
    width: 70%;
  }
  .line {
    border-bottom: 1px solid;
    border-color: #aabbcc;
    width: 90%;
    height: 10%;
    margin: 2.5vw auto;
  }
  .resultTable {
    display: block;
  }
  .resultRow {
    display: block;
    width: 100%;
  }
  .attribute {
    display: block;
    width: 100vw;
    text-align: left;
    font-weight: normal;
    font-size: 3vw;
    margin-left: 6vw;
    margin-top: 4vw;
  }
  .result {
    display: block;
    width: 100vw;
    text-align: left;
    font-weight: bold;
    margin-left: 6vw;
    font-size: 3vw;
    height: 2.7vw;
    margin-top: 2vw;
  }

  .whySnubesContainer {
    text-align: left;
    margin-top: 4vw;
    margin-bottom: 3vw;

    .whySnubesBg {
      display: none;
    }
    .textContainer {
      padding: 3.5vw;
      background-color: white;
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
    }
    .divHeading {
      font-size: 5vw;
      font-weight: bold;
    }
    .subHeading {
      font-size: 4.7vw;
      font-weight: bold;
      margin-top: 3.7vw;
      margin-bottom: 2.5vw;
    }
    .paragraph {
      font-size: 4.3vw;
    }
  }
  .featuresDiv {
    width: 100%;
    background-color: white;
  }
  .features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 1.7vw;
    text-align: left;
    .featuresHeading {
      width: 90%;
      font-size: 5vw;
      font-weight: bold;
      color: #445566;
      padding-top: 0.9vw;
    }
    img {
      width: 20vw;
      padding-top: 3vw;
      margin-right: 5vw;
      float: left;
    }
    p {
      text-align: left;
      width: 90%;
      font-size: 4vw;
      padding-top: 0.8vw;
    }
  }
  .testimonials {
    position: relative;
    width: 100vw;
    background-color: white;
    .talixoLogo {
      width: 20vw;
      height: auto;
      margin-bottom: 3vw;
      margin-top: 3vw;
    }
    .testimonialPara {
      font-size: 3.5vw;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3vw;
      width: 85vw;
    }
    .carouselDots {
      margin-top: 3vw;
      margin-bottom: 3vw;
      width: 15vw;
      height: auto;
    }
    .clients img {
      margin-bottom: 2.9vw;
      width: 15vw;
      height: auto;
    }
  }

  .footerMain {
    margin-top: 2.5vw;
    padding-top: 2.5vw;
    padding-bottom: 1.7vw;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    .footerColumns {
      margin: 0 auto;
      text-align: center;
      width: 60%;
    }
    .column {
      color: white;
      font-size: 3.5vw;
      padding: 0.8vw;
    }
    a {
      color: white;
    }
    .award {
      display: none;
    }
  }

  .copyright {
    height: 6vw;
    p {
      font-size: 3.5vw;
      position: relative;
      top: 20%;
    }
  }
}
